.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	.loader {
		--loader-height: calc(100px / 7);
		display: flex;
		position: relative;
	}
	.loader::before {
		content: '';
		position: absolute;
	}
	.loader::before,
	.loader > span {
		display: block;
		width: var(--loader-height);
		height: var(--loader-height);
		border-radius: 50%;
		background: #222;

		animation-name: to-right;
		animation-duration: 500ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	.loader > span:nth-child(even) {
		visibility: hidden;
	}
	.loader > span:first-child {
		animation-name: scale-up;
	}
	.loader > span:last-child {
		animation-name: scale-up;
		animation-direction: reverse;
	}

	@keyframes to-right {
		to {
			transform: translateX(200%);
		}
	}
	@keyframes scale-up {
		from {
			transform: scale(0);
		}
		to {
			transform: scale(1);
		}
	}
}
